<!doctype html>
<html lang="en">
  <head>
  </head>
  <h1 style="text-align:center">Content Generator</h1>

  <body>
    
    <div class="container profileSelection">
    
      <div class="side-by-side-container">
      <div class="dropdown-container" >
          <profile-dropdown></profile-dropdown>
     </div>
     <div >
     <profileimage></profileimage>
     </div>
    </div>
     <div>

     </div>
    </div>
    <div class="side-by-side-container centered-container">
      <generate-content></generate-content>
    </div>
    
  </body>
</html>