<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block" placement="start" >
        <button type="button" class="btn btn-primary custom-btn" id="dropdownBasic1" ngbDropdownToggle>
          {{ selectedProfile?.value || 'Select a Profile' }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
          <button
      type="button"
      ngbDropdownItem
      *ngFor="let option of options"
      (click)="onItemSelected(option)"
    
    >
      {{ option.value }}
    </button>
    
        </div>
        <div *ngIf="selectedProfile">
          <p>{{ selectedProfile.fields['description']}}</p>
        </div>      
      </div>
    </div>

  </div>

